h1 {
  font-size: 3rem;
}

header {
  display: flex;
  background-image: url("../assets/enfants.jpg");
  background-size: cover;
  height: 80vh;
}

.content {
  margin: auto;
  justify-content: center;
  flex-basis: 80%;
}

#activites {
  display: flex;
  justify-content: space-around;
}

.box {
  flex: 1;
  flex-basis: 30%;
}
